* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost";
}

.navbar {
  height: 7rem;
  background-color: rgb(0, 0, 0, 0.75);
  padding: 3rem;
  display: flex;
  justify-content: space-evenly;

  color: white;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.navlist {
  display: flex;
  justify-content: space-evenly;

  color: white;
}

.navele {
  padding: 0rem 4rem;
  
}

.navele:hover {
    text-decoration: underline;
  }

.break{
    height:7.5rem;
    background-color: black;
}
.container {
    height:30rem;
    width:100%;
  background-image: url("backg.jpg");
  background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    font-size: 3rem;
    color: white;
   
}

.banner{
    padding:5rem;
}
